{{ form_start(form, {'attr': {'id': 'edit_user_form', 'class': 'edit-user-form'}}) }}
    <div class="form-group">
        {{ form_row(form.name) }}
    </div>
    <div class="form-group">
        {{ form_row(form.surname) }}
    </div>
    <div class="form-group">
        {{ form_row(form.email) }}
    </div>
    <div class="form-group">
        {{ form_row(form.adresse) }}
    </div>
    <div class="form-group">
        {{ form_row(form.telephone) }}
    </div>
    <div class="modal-actions">
        <button type="submit" class="btn-save">Enregistrer</button>
        <button type="button" class="btn-cancel" onclick="closeModal('editUserModal')">Annuler</button>
    </div>
{{ form_end(form) }}