<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}MakeYourPC{% endblock %}</title>
        <link rel="icon" href="{{ asset('images/BlackLogo.svg') }}">
        {% block stylesheets %}
        {{ include('_partials/_stylesheets.html.twig') }}
        {% endblock %}
            {% block importmap %}{{ importmap('app') }}{% endblock %}
        {% block javascripts %}
        {{ importmap('app') }}
        {% endblock %}
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap" rel="stylesheet">
        <script src="https://unpkg.com/lucide@latest"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    </head>
    <body>
        <header>
            {{ include('_partials/_header.html.twig') }}
        </header>

        <main>
            {% block body %}
                {% for label, messages in app.flashes %}
                    {% for message in messages %}
                        <div class="alert alert-{{ label }}">
                            {{ message }}
                        </div>
                    {% endfor %}
                {% endfor %}
                
                {% block content %}{% endblock %}
            {% endblock %}
        </main>

        <footer>
            {{ include('_partials/_footer.html.twig') }}
        </footer>
        <script>
            lucide.createIcons();
        </script>
        <script>
            function animateElements() {
                const animatedElements = document.querySelectorAll('.animate');
                
                function checkScroll() {
                    animatedElements.forEach(el => {
                        const rect = el.getBoundingClientRect();
                        const windowHeight = window.innerHeight || document.documentElement.clientHeight;
                        if (rect.top <= windowHeight * 0.75) {
                            el.classList.add('visible');
                        }
                    });
                }

                window.addEventListener('scroll', checkScroll);
                checkScroll(); // Vérifier au chargement de la page
            }

            // Exécuter l'animation au chargement initial
            document.addEventListener('DOMContentLoaded', animateElements);

            // Exécuter l'animation lors de la navigation entre les pages
            document.addEventListener('turbo:load', animateElements);
        </script>
    </body>
</html>
