{% extends 'base.html.twig' %}

{% block title %}Modifier le type - Administration{% endblock %}

{% block body %}
    <div class="container">
        <div class="types-header">
            <h1 class="page-title">
                <i data-lucide="edit-3" class="section-icon"></i>
                Modifier le type
            </h1>
        </div>

        <div class="form-container">
            {{ form_start(form, {'attr': {'class': 'needs-validation'}}) }}
                <div class="form-group">
                    {{ form_label(form.name, null, {'label_attr': {'class': 'form-label'}}) }}
                    {{ form_widget(form.name, {'attr': {'class': 'form-control'}}) }}
                </div>

                <div class="form-buttons">
                    <button type="submit" class="btn-new-type">
                        <i data-lucide="save"></i>
                        Enregistrer
                    </button>
                    <a href="{{ path('app_admin_types_index') }}" class="btn-quick-action">
                        <i data-lucide="arrow-left"></i>
                        Retour
                    </a>
                </div>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %} 